################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/game_of_fear/.vs/game_of_fear/v14/.suo
