################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/game_of_fear/.vs/game_of_fear/v14/.suo
/game_of_fear/game_of_fear/game_of_fear.vcxproj.filters
/game_of_fear/game_of_fear/game_of_fear.vcxproj
/game_of_fear/game_of_fear.sln
/game_of_fear/game_of_fear.VC.VC.opendb
